<div class="w-full flex flex-col items-center">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="w-5/6 flex justify-between items-center relative">
    <h1 class="w-full font-bold text-4xl text-center mb-10">My Recipes</h1>
    <%= link_to 'New recipe', new_user_recipe_path, class: "absolute top-0 right-0 rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="recipes" class="w-full flex flex-col items-center">
    <%= render @recipes %>
  </div>
</div>
